*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: serif,sans-serif;
}

/* header section style */
header{
    background: url('./images/banner/banner1.png');
    height: 800px;
    position: relative;


}
.header-content{
    width: 525px;
    right: 230px;
    bottom: 166px;
    position: absolute;
    text-align: right;
    padding-left: 30px;
}
.header-content >h1{
color: #151414;
text-align: right;
font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 24px;
}


.btn-primary{
    background-color: #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
   
}

/* main-content-style */

.main-container{
    padding: 130px 230px;
}

/* about section style */
.about{
    display: flex;
    justify-content: center;
    gap: 87px;
    margin-top: 186px;
}
.about-left{
    background-color: rgba(241, 91, 34, 0.2);
    height:527px ;
    width: 527px;
    border-radius: 100%;
    position: relative;
}
.about-left img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%)
}
.about-content{
    width: 416px;
}
.about-content ul>li{
   list-style: circle;
}
